In [3]:
import datetime as dt
import numpy as np
import pandas as pd
import pandas_datareader.data as web
import matplotlib.pyplot as plt
from matplotlib import style

style.use('ggplot')

In [4]:
start = dt.datetime(2000,1,1)
end = dt.datetime(2020,11,30)

In [5]:
df = web.DataReader('TSLA', 'yahoo', start, end)

In [6]:
df.head(10)

             High    Low   Open  Close      Volume  Adj Close
Date
2010-06-29  5.000  3.508  3.800  4.778  93831500.0      4.778
2010-06-30  6.084  4.660  5.158  4.766  85935500.0      4.766
2010-07-01  5.184  4.054  5.000  4.392  41094000.0      4.392
2010-07-02  4.620  3.742  4.600  3.840  25699000.0      3.840
2010-07-06  4.000  3.166  4.000  3.222  34334500.0      3.222
2010-07-07  3.326  2.996  3.280  3.160  34608500.0      3.160
2010-07-08  3.504  3.114  3.228  3.492  38557000.0      3.492
2010-07-09  3.580  3.310  3.516  3.480  20253000.0      3.480
2010-07-12  3.614  3.400  3.590  3.410  11012500.0      3.410
2010-07-13  3.728  3.380  3.478  3.628  13400500.0      3.628

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2625 entries, 2010-06-29 to 2020-11-30
Data columns (total 6 columns):
High         2625 non-null float64
Low          2625 non-null float64
Open         2625 non-null float64
Close        2625 non-null float64
Volume       2625 non-null float64
Adj Close    2625 non-null float64
dtypes: float64(6)
memory usage: 143.6 KB

In [8]:
df.describe()

,High,Low,Open,Close,Volume,Adj Close
count,2625.000000,2625.000000,2625.000000,2625.000000,2.625000e+03,2625.000000
mean,57.202224,54.691591,55.971822,56.003476,3.059420e+07,56.003476
std,79.433685,74.987931,77.278734,77.358146,2.833555e+07,77.358146
min,3.326000,2.996000,3.228000,3.160000,5.925000e+05,3.160000
25%,7.544000,7.240000,7.328000,7.370000,1.074350e+07,7.370000
50%,45.034000,43.619999,44.363998,44.198002,2.404750e+07,44.198002
75%,61.354000,59.068001,60.200001,60.230000,3.959700e+07,60.230000
max,607.799988,578.450012,602.210022,585.760010,3.046940e+08,585.760010

In [ ]:
x = df[['High', 'Low', 'Open','Volume']].values
y = df['Close'].values

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 1)

In [ ]:
reg = LinearRegression()

In [ ]:
reg.fit(x_train,y_train)

In [ ]:
print(reg.coef_)

In [ ]:
predicts = reg.predict(x_test)

In [ ]:
new = pd.DataFrame({ 'Actual' : y_test.flatten(), 'Predicted' : predicts.flatten()})

In [ ]:
new.head(30)

In [ ]:
from sklearn import metrics
import math
print(" MSE: ", metrics.mean_absolute_error(y_test,predicts))
print(" RMSE: ", math.sqrt(metrics.mean_absolute_error(y_test,predicts)))

In [ ]:
graph = new.tail(30)
graph.plot(figsize=(20,10), linewidth= 5, fontsize=20, kind = 'bar')

In [ ]:
graph.plot(figsize=(20,10), linewidth= 5, fontsize=20)
plt.xticks()
plt.ylabel('Tesla Stock Price', fontsize=20)
plt.xlabel('Day', fontsize=20)
plt.show()